
@font-face {
  font-family: 'Futura';
  src: url('futura/futur.ttf') format('truetype');
}


/* Aplica la fuente Futura a todo el cuerpo */
body {
  font-family: Futura, sans-serif;
}

/* Estilos específicos para encabezados */
h1 {
  font-size: 36px;
  color: #333;
}

/* Estilos específicos para párrafos */
p {
  line-height: 1.6;
  color: #666;
}

/* Estilos específicos para enlaces */
a {
  color: #007bff;
  text-decoration: none;
}
 .u-section-1 {
  background-image: none;
}

img.btn-whatsapp {
  display: block !important;
  position: fixed;
  z-index: 9999999;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  border-radius:100px !important;
  }
  
  img.btn-whatsapp:hover{
  border-radius:100px !important;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1); 
  -moz-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
  box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
  transition-duration: 1s;
  } 

.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1164px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 180px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1122px;
  margin: 45px 0 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 722px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-1 {
  width: 217px;
  height: 157px;
  --radius: 10px;
  margin: 15px auto 0 60px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 0 21px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 24px 15px 0 18px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  width: 217px;
  height: 157px;
  --radius: 10px;
  margin: 15px auto 0 60px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 0 21px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 24px 15px 0 18px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  width: 217px;
  height: 157px;
  --radius: 10px;
  margin: 15px auto 0 60px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 0 21px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 24px 15px 0 18px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  width: 217px;
  height: 157px;
  --radius: 10px;
  margin: 15px auto 0 60px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 0 21px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 24px 15px 0 18px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-image-5 {
  width: 217px;
  height: 157px;
  --radius: 10px;
  margin: 15px auto 0 60px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 0 21px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 24px 15px 0 18px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-image-6 {
  width: 217px;
  height: 157px;
  --radius: 10px;
  margin: 15px auto 0 60px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 0 21px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 24px 15px 0 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 604px;
  }

  .u-section-1 .u-image-1 {
    inset: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    inset: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    inset: auto;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    inset: auto;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    inset: auto;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    inset: auto;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1051px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 671px;
  margin-bottom: 0;
}

.u-section-2 .u-gallery-1 {
  height: 611px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
  padding: 4px;
}